.menu-spacer {
  flex: 1 1 auto;
}

  
.sidenav-content {
  display: flex;
}

.card-home-student{
  margin: 5px;
  /*background-color:rgb(21, 57, 88);
  border: 2px solid rgba(0, 0, 0, 0.5);*/
  padding: 0%; 
  /*width: 45%;*/
  width: 480px;
  /*height: 250px;*/
  border-radius: 20px;
}

.button-home{
  background-color: rgb(21, 57, 88); 
  color: rgb(255, 255, 255); 
  width: 100%;
  border-radius: 20px; 
  margin-top: 20px
}

.list-item{
  margin-bottom: 55px;
}

#screen{
  display: flex;
}

.left{
  width: 55%;
  height: 100%;
}

.right{
    width: 45%;
    height: 100%;
}

.left1{
  width: 55%;
  height: 100%;
  max-height: 515px; 
  overflow-y: auto;
}

.left1-table{
  width: 95%; 
  text-align: center; 
  align-items: center;
}
 
.right1{
  width: 45%;
  height: 100%;
}

.left2{
  width: 55%;
  height: 100%;
}
 
.right2{
  color: white;
  text-align: center;
  width: 45%;
  height: 100%;
}

.right2::-webkit-scrollbar{
  width: 15.5px;
}

.right2::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0);
}

.right2::-webkit-scrollbar-thumb{
  border: 5px solid rgb(21, 57, 88);
  background: rgb(245, 245, 245);
  border-radius: 20px;
}

.left1::-webkit-scrollbar{
  width: 15.5px;
}

.left1::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0);
}

.left1::-webkit-scrollbar-thumb{
  border: 5px solid rgb(245, 245, 245);
  background: rgb(21, 57, 88);
  border-radius: 20px;
}

.card-home-activity{
  padding: 0%;
  width: 561px;
  height: 250px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(21, 57, 88); 
}
 
.card-list-item{
  background-color: rgb(255, 255, 255); 
  padding: 0%;
  width: 300px;
  height: 90px;
  max-width: 300px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.card-list-item-header{
  padding-top: 5px; 
  padding-bottom: 5px; 
  background-color: rgb(38, 50, 56); 
  color: white;
}

.card-user-info{
  height: 250px; 
  width: 100%; 
  padding: 0%;
  overflow-y: auto;
  overflow-x: hidden;
}

.button-edit-user-data{
  border-radius: 20px; 
  width: 150px; 
  background-color: rgb(21, 57, 88); 
  color: white;
}

.card-user-info::-webkit-scrollbar{
  width: 15.5px;
}

.card-user-info::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0);
}

.card-user-info::-webkit-scrollbar-thumb{
  border: 5px solid rgb(245, 245, 245);
  background: rgb(21, 57, 88);
  border-radius: 20px;
}

.card-calendar{
  padding: 0%;
  /*border-radius: 20px;*/
  width: 220px;
  margin: 5px;
}
