<div class="modal-direct-update">

    <div class="modal-direct-title">
        <div align="end">
            <button mat-icon-button mat-dialog-close disableRipple>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h1 mat-dialog-title style="text-align: center; padding-bottom: 10px;">Actualizar alumno</h1>
    </div>

    <div style="text-align: center;">

        <div class="row">

            <mat-form-field class="col-10" appearance="outline">
                <mat-label>ID</mat-label>
                <input [formControl]="fromUpdate" [(ngModel)]="id" name="id" type="number" matInput (input)="AlumnoPorId(id)">
                <mat-error *ngIf="fromUpdate.hasError('required')">Digite el id del alumno</mat-error>
            </mat-form-field>
            
            <div class="col-1" style="margin: 2px;">
                <button (click)="PanelActualizarAlumno(id)" mat-stroked-button cdkFocusInitial style="height: 53px;">
                    <mat-icon>update</mat-icon>
                </button>
            </div>

        </div>

    </div>

    <div mat-dialog-content>

        <mat-card class="modal-card-selection">

            <mat-card-content *ngIf="!carga" style="text-align: center;">
                <mat-card-title style="margin-top: 20px;">Digite el id del alumno</mat-card-title>
            </mat-card-content>

            <mat-card-content *ngIf="carga">

                <mat-card-title>
                    {{alumno.nombre}} {{alumno.apellido}}

                    <button mat-stroked-button disabled class="button-student-data" style="color: white;">
                        {{alumno.carrera.nombre}}
                    </button>

                    <button mat-stroked-button disabled class="button-student-data" style="color: white;">
                        {{alumno.carrera.facultad.nombre}}
                    </button>

                </mat-card-title>

                <mat-card-subtitle>
                    <b>Facultad:</b> {{alumno.carrera.facultad.nombre}}
                    &nbsp; > &nbsp;
                    <b>Carrera:</b> {{alumno.carrera.nombre}}
                    &nbsp; > &nbsp;
                    <b>Ubicacion:</b> {{alumno.carrera.facultad.ubicacion}}
                </mat-card-subtitle>  

            </mat-card-content>
            
        </mat-card>

    </div>

</div>

